*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-content: center;
}

#my-video{
    background-color: rgb(16, 19, 219);
    height: 250px;
    width: 400px;
    margin-top: 100px;
    color:rgb(220, 196, 196);
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.video-container {
    position: relative;
}

#play-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 400px;
    text-align: center;
}

.overlay h2 {
    background: #0657e2 none repeat scroll 0 0;
    color: rgb(245, 243, 241);
    font-weight: 100%;
    /* margin: 0; */
    padding: 5px;
    margin-bottom: 219px;
}

#play-icon {
    font-size: 3em;
    color: #fff;
}
